<h1>{{title}}</h1>
<div class="containerWrap">
	<div class="top">
		<div class="icon1_img">
			<img class="icon1" src="images/icon1.jpg">
		</div>
	</div>
	<div class="main">
		<form method="post" action="/login-self">
			<div class="box box1">
				<label class="item" for="username">
				用户名</label>
				<input class="form_input" name = "username" type="text" id="username" placeholder="请输入用户名" required="required">
				<div class="username_info"></div>
			</div>
			<div class="box box2">
				<label class="item" for="password">密码</label>
				<input class="form_input" name="password1" type="password" id="password" placeholder="请输入密码" required="required">
				<div class="password_info1"></div>
			</div>
			<div class="box box3">
				<label class="item" for="password">确认密码</label>
				<input class="form_input" name="password2" type="password" id="password" placeholder="请再次输入密码" required="required">
				<div class="password_info2"></div>
			</div>

			<ul>
				<li><input id="login" type="submit" value="登录"></li>
				<li><input id="signup" type="submit" value="注册"></li>
				<li><input id="reset" type="reset" value="重置"></li>
			</ul>
			
		</form>
		
	</div>
	<footer></footer>
</div>

<script src="/javascripts/jquery-1.11.2.js"></script>


<script type="text/javascript">


	$('#login').on('click',function(e){
		var username=$('#username').val();
		if(username){$('.top').attr('display','block')};
	});

	// 节流处理
	var keyupTime= null;
	$('#username').on('keyup', function(e){
		if(keyupTime){
			clearTimeout(keyupTime);
		}
		var keyupTime = setTimeout(signedUp,1000);
	});
	
	
	var signedUp = function(){
		$.ajax({
			method: 'get',
			url: '/login-self/repeat',
			data:{
				name: $('#username').val(),
			}	
		}).done(function(data){
			if(data.repeat){
				alert('该用户已被注册'); 
				$('#username').val("");
			}
	});
	}

	
</script>

<script type="text/javascript">
	

</script>