@charset "UTF-8";
html{
  background:black;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei','arial';
  overflow: hidden;
}

li {
  list-style: none;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

div {
  text-align: center;
}

.full.of {
  width: 100%;
  height: 100%;
}
.full.of .Pabs {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0
}
.full.of .effectBtnWrap {
  position: absolute;
  right: 60px;
  top: 25%;
  z-index: 10;
  width: 145px;
  height: 378px;
}
.full.of .effectBtnWrap ul {
  position: absolute;
  left: 0;
  right: 0;
}
.full.of .effectBtnWrap li {
  text-align: right;
  margin: 14px 0;
}
.full.of .effectBtnWrap li span {
  cursor: pointer;
}
.full.of .effectBtnWrap li span:not(.circle) {
  padding-right: 10px;
}
.full.of .effectBtnWrap li .title {
  visibility: hidden;
  white-space: nowrap;
}
.full.of .effectBtnWrap li .title.show {
  visibility: visible;
}
.full.of .effectBtnWrap li:hover .title {
  visibility: visible !important;
}
.full.of .effectBtnWrap li:hover .circle {
  background: #bee000;
}
.full.of .effectBtnWrap .circle {
  background: #CBCBCB;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
  margin-left: -4px;
}
.full.of .effectBtnWrap .circle.show {
  background: #FFEC15;
}
.full.of .effectBtnWrap .circle.show::after {
  content: "";
  background: white;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  z-index: -1;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.full.of h2 {
  font-size:2em;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  padding-top: 2%;
  height: 56px;
  margin:0;
  z-index:2;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}
.full.of .global_dist{
   position:absolute;
  left:50%;
  -webkit-transform:translate(-50%,0);
          transform:translate(-50%,0);
}
.full.of .pWrap {
  text-align: center;
}
.full.of .pWrap p {
  width: 76%;
  display: inline-block;
  text-align: center;
  color: white;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 3px;
}
.full.of .header {
  height: 55px;
  position: fixed;
  left: 0;
  right: 0;
  background: #213641;
  opacity: 0.6;
  filter: alpha(opacity=70);
  box-shadow: 1px 1px 80px 1px #7b7b7b;
  top: 0;
  transition: 0.9s 0.3s;
}
.full.of .header .orderItem {
  position: absolute;
  right: 100px;
  top: 0;
  margin: 0;
}
.full.of .header .orderItem .navChild {
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
  display: inline;
  line-height: 55px;
}
.full.of .header .orderItem .navChild:after {
  transition: 0.2s;
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
}
.full.of .header .orderItem .navChild:hover:after {
  content: "";
  width: 100%;
}
.full.of .header .orderItemIE:hover {
  border-bottom: 1px solid white;
}
.full.of .main {
  transition: 1s;
  height: 100%;
  width: 100%;
  position: relative;
}
.full.of .main .mainWrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}
.full.of .main .mainWrap .textWrap {
  display: inline-block;
  width: 100%;
  height: 168px;
  color:white;
}
.full.of .main .mainWrap .textWrap p {
  font-size: 20px;
  font-size: 1.3rem;
  line-height: 180%;
  position: relative;
  left: 0;
  right: 0;
}
.full.of .topic{
  position:absolute;
  z-index:2;
  top:50%;
  left:50%;
  margin:0;
  padding:0;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);

}
#stars{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0px;
}
.appendix li{
  list-style: initial;
  text-align:left;
}
.appendix li p{
  padding-left:2rem;
}
.appendix h3{
  text-align: left;
}
.appendix .onePerson{
  display:inline-block;
  margin: 0 30px;
}
.appendix .person_photo{
  background-color:#9DC3E7;
  width:100px;
  height:100px;
  border-radius:50px;
  display:inline-block;

}
.AuthorInfoWrap{
  position:absolute;
  left:0;
  right:0;
}
.person_photo.ysq{
  background:url(images/author/ysq.png) center center no-repeat;
  background-size:100% 100%;
}
.person_photo.bk{
  background:url(images/author/bk.jpg) center center no-repeat;
  background-size:100% 100%;
}
.person_photo.jzy{
  background:url(images/author/jzy.jpg) center center no-repeat;
  background-size:100% 100%;
}
.person_photo.lc{
  background:url(images/author/lc.jpg) center center no-repeat;
  background-size:100% 100%;
}
#global_Container{
  height:90% !important;
  position:absolute;
  bottom:0;
}
/*css模块*/
.rf{
  float:right;
}
.addTransition{
  transiton:0.6s all;
  -webkit-transition:0.6s all;
}
.zIndex2{
  position:absolute;
  z-index: 2;
}
.demonstration_global{
  left:20px;
  bottom:20px;
  color:white;
}
@keyframes bgposition{
  0%{background-position:0 0;}
  100%{background-position: 100% 0}
  
}
@-webkit-keyframes bgposition{
  0%{background-position:0 0;}
  100%{background-position: 100% 0}
  
}
@-moz-keyframes bgposition{
  0%{background-position:0 0;}
  100%{background-position: 100% 0}
  
}
@-o-keyframes bgposition{
  0%{background-position:0 0;}
  100%{background-position: 100% 0}
  
}
-ms-keyframes bgposition{
  0%{background-position:0 0;}
  100%{background-position: 100% 0}
  
}
/*各个分页*/
.mainWrap.china_distibution{
  background:url("images/cloudy.png") center center repeat;
  animation: bgposition 100s infinite linear;
  -webkit-animation: bgposition 100s infinite linear;
  -moz-animation: bgposition 100s infinite linear;
  -ms-animation: bgposition 100s infinite linear;
  -o-animation: bgposition 100s infinite linear;
}
.state:hover{
    fill-opacity:0.7;
  }
.time-select{
  position: absolute;
  top: 10px;
  left: 40px;
  width: 50%;
}
.time-select label{
  color:white;
  display:inline-block;
  position:absolute;
  left:-10%;
  top:10px;
}
.time-select input{
  display:inline-block;
  width:100%;
  margin:31px 0 0 30px;

}
.time-select p{
  margin:0;
  font-size:0.9rem !important;
  font-weight:900;
}
.rightContainer{
  margin-right:120px;
}
/*d3 svg专属*/
#tooltip_d3map {   
    position: absolute;           
    text-align: center;
    padding: 20px;             
    margin: 10px;
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none;         
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
#tooltip_d3map h4{
  margin:0;
  font-size:14px;
}
#tooltip_d3map{
  background:rgba(0,0,0,0.9);
  border:1px solid grey;
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}
#tooltip_d3map table{
  table-layout:fixed;
}
#tooltip_d3map tr td{
  padding:0;
  margin:0;
}
#tooltip_d3map tr td:nth-child(1){
  width:50px;
}
#tooltip_d3map tr td:nth-child(2){
  text-align:center;
}
.d3MapWrap{
  text-align: left;
  position: absolute;
  float: left;
}
body {
    font-family: "helvetica";
}

button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}

.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.h-bar {
    min-height: 15px;
    min-width: 10px;
    background-color: steelblue;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

.baseline {
    height: 1px;
    background-color: black;
}

.clear {
    clear: both;
}

.selected {
    background-color: #f08080;
}

.control-group {
    padding-top: 10px;
    margin: 10px;
}

.table {
    width: 70%;
}

.table td, th {
    padding: 5px;
}

.table-header {
    background-color: #00AFEF;
    font-weight: bold;
}

.table-row-odd {
    background-color: #f0f8ff;
}

.table-row-odd {
    background-color: #d3d3d3;
}

.code {
    display: inline-block;
    font-style: italic;
    background-color: #d3d3d3;
    border: #969696 solid thin;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countdown{
    width: 150px;
    height: 150px;
    font-size: 5em;
    font-weight: bold;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.line{
    fill: none;    
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
  fill: #fff;
  stroke: steelblue;
}

.area {
    stroke: none;
    fill: steelblue;
    fill-opacity: .2;
}

.pie text{
    fill: white;
    font-weight: bold;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.cross {
    stroke: none;
    fill: blue;
    fill-opacity: .7;
}

.diamond {
    stroke: none;
    fill: green;
    fill-opacity: .7;
}

.square{
    stroke: none;
    fill: yellow;
    fill-opacity: .7;
}

.triangle-down{
    stroke: none;
    fill: blueviolet;
    fill-opacity: .7;
}

.triangle-up{
    stroke: none;
    fill: darkred;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

.bar{
    stroke: none;
    fill: steelblue;
}
/*input[type=range]*/
 input[type=range] {
  -webkit-appearance: none; 
  width: 100%;
} 
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 4px;
cursor: pointer;
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
background: rgba(123,123,123,0.8);
border-radius: 1.3px;
border: 0.2px solid #010101; 
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
 input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
} 
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
