.shade{
	width:100%;
	height:2123px;
	position:absolute;
	z-index:999;
	margin-left:-50px;
	margin-top:-50px;
	background:rgba(200,200,200,0.8);
	display:none;
}
h1{
	position:absolute;
	color:black;
	font-family: 'Exo', sans-serif;
	display:inline-block;
	float:left;
	font-size:2.5rem !important;
	
}
h3{
	text-transform: uppercase;
	text-align:center;
	margin-top:62px;
	margin-bottom: 10px;
	font-weight: 900;
}
h4{
	text-align:center;
	
}
@media(max-width: 768px){
	h1{
	display:block;
	position:relative;
	color:black;
	text-align: center;
	float:none;
	font-family: 'Exo', sans-serif;
	font-size:2.5rem !important;
	}
}

@keyframes typing { 
	from { width: 0px; }
	
	
 }
@keyframes blink-caret { 50% { border-color: transparent; } }
@-webkit-keyframes typing { 
	from { width: 0%; }
	
	
}
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

@keyframes fadeout{
	from{background: black;}
	to{background:transparent;}
	
}
@-webkit-keyframes fadeout{
	from{background: black;}
	to{background:transparent;}
	
}


.typing{
	position:absolute;
	z-index:1000;
	color: black;
	width:21%;
	white-space: nowrap;
	overflow: hidden;	
	margin:20px 0 10px;
	font: bold 200% Consolas, Monaco, monospace;
	border-right: 1px solid;
	animation: 4s typing steps(9,end);
	-webkit-animation: 4s typing steps(9,end)  ;
	/*display:none;*/
}
.typing-origin{
	display:none;
}


.preloadfade{
	animation: 2s fadeout ;
	-webkit-animation: 2s fadeout;
}

#preloader{
	background: black;
	width:100%;
	height:100%;
	z-index: 999;
	position:fixed;
	margin-left: -50px;
	margin-top:-50px;
	

}
#load{
	background: black url('../images/cool-loading-animated-gif-3.gif') center center no-repeat;
	width:100%;
	height:100%;
	
	
}
.navbar{
	padding:5px 0 5px;
	margin-bottom:50px;
}
.container-fluid{
	float:right;
}
.head-img{
	display:inline-block;
	width:50px;
	height:50px;
	border-radius: 25px;
}
.navbar-brand{
	padding:0px 20px 0;
}
.login-position-relative{
	position:relative;
	text-align: center;
	display:block;
	margin:0 auto;
	width:50%;
}
.login-position-fixed{
	position: fixed;
	width:100%;
	margin:0 -50px 0;
	z-index: 1000;
	display:none;

}
.form_input{
	display:inline-block;
	margin:5px;

}

.navbar-form{
	text-align: center;
	display: block
}


label{
	display:inline-block;
	text-align: right;
	width:80px;
}
input{
	display:block;
}
.separator{
	margin:10px;
}
.form-group label{
	margin-right:5px;
}

#carousel-example-generic{
	font-family: 'Playball', cursive;
	font-size:2em;
	word-spacing: 0.5em;
}
.carousel-inner img{
	text-align: center;
	margin:0 auto;
}
.nav-wrap{
	width:100%;

}
.ceiling{
	top:0;
	position:fixed;
	/*margin-left:-150px;*/
	/*margin-right:-350px;*/

}
.navbar-color{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
background: #d6f9ff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #d6f9ff 0%,#9ee8fa 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #d6f9ff 0%,#9ee8fa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.blogs-container{
	
	overflow: hidden;
	width: 1270px;
	margin-left:-95px;
	margin:40px auto 0;
	padding: 0 100px 0;
}

.skill-wrap{
	text-align: center;
	background:rgba(220,220,220,0.6);
	padding:30px  10em 0;
	height: 600px;
}
.skill{
	box-sizing:border-box;
	float:left;
	padding:10px;
	margin-bottom: 20px;	
	margin-top:20px;
/*	margin-left:1px;
	margin-right:1px;*/

}
.skill-border{
	border:1px solid #e4e7ee;
	padding:2em;
	box-shadow: 0 2px 2px 1px rgba(183, 201, 207, 1);
	background: white;
}
.skill_img div{
	margin:0 auto;
}
.skill-code{
	background: url('../images/skill-icon.png') no-repeat 8.333% 3.497%;
	background-size: 362px 270px;
	width: 56px;
	height: 56px;
}
.skill-design{
	background: url('../images/skill-icon.png') no-repeat 49.02% 3.497%;
	background-size: 362px 270px;
	width: 56px;
	height: 56px;
}
.skill-theory{
	background: url('../images/skill-icon.png') no-repeat 90.359% 3.731%;
	background-size: 362px 270px;
	width: 56px;
	height: 56px;
}
.skill-wrap h3{
	margin-top:10px;
}
.skill-container{
	
	margin-top:40px;
}
.skill1{
	float:left;
	width:25%;
}
.skill2{
	float:left;
	width:25%;
}
.skill3{
	float:left;
	width:25%;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.skill-text{
	
	word-spacing: 2em;
	word-break:keep-all;
	transition:1s height,1s width,1s transform;
	font-size: 1em;
	display:none;
	margin-top: -156px;
	text-align: center;
	
	
}
.skill-text p{
	text-align: center;
}
.skill-active{
	height:350px;
	
	transition: 1s 3s;
	
}
.skill-icon-scale{
	transform:scale(1.5);
	-webkit-transform:scale(1.5);
	transition:1s;

}

.skill_wrap-active{
	width:50% !important;

	transition:0.5s;
}
.skill_wrap-inactive{
	transition:1s;
	width:25%;
}
.skill:hover{
	margin-top:0;
	transition:1s;
}
.down-icon{
	text-align: center;
}
.skill-head{
-webkit-animation:bounceInDown 1s .2s ease both;
-moz-animation:bounceInDown 1s .2s ease both;
}
@-webkit-keyframes bounceInDown{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}

@media screen and (max-width:768px){
	.skill-border{
		padding:1em !important;
		width:100%;
		
	};
}
@media screen and (max-width:768px){
	
	.skill{
		display:block ;
		float:none;
		width:100% !important;
		margin:0 auto;
		padding:10px;
		margin-bottom: 20px;	
		margin-top:20px;
	};


}


.progress1.active .progress-bar {
-webkit-animation: progress-bar-stripes 1s linear reverse infinite;
-o-animation: progress-bar-stripes 1s linear reverse infinite;
animation: progress-bar-stripes 1s linear reverse infinite;
}
.progress2.active .progress-bar {
-webkit-animation: progress-bar-stripes 1s linear  infinite;
-o-animation: progress-bar-stripes 1s linear  infinite;
animation: progress-bar-stripes 1s linear  infinite;
}

.dualGear .gearInner {
position: absolute;
background-image: url("../images/gearicon.png");
background-position: 0 -371px;
width: 34px;
height: 34px;
display: block;
top: 10px;
left: 10px;
z-index: 2;
-webkit-transform:rotate(0deg);
}

.dualGear .gearOuter{
position: absolute;
background-image: url("../images/gearicon.png");
background-position: 0 -303px;
width: 55px;
height: 55px;
display: block;
top: 0;
left: 0;
z-index: 1;
-webkit-transform:rotate(0deg);
}

.dualGear1 {
position: absolute;
margin-top: -35px;
margin-left: 0px;

}
.dualGear2 {
position: absolute;
margin-top: -35px;
left:auto;
right:0;
margin-right: 108px;
}
.progress{
	position: relative;
z-index: 999;
border-radius:10px;
}

.progress-wrap{
	padding:0 2em 0;
	overflow: hidden;
}
.gearInner {

-webkit-animation:rotate 7s infinite linear reverse;
}
.gearOuter {

-webkit-animation:rotate 5.3s infinite linear ;
}
@-webkit-keyframes rotate{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
}

.blog{
	width:190px;
	height:200px;
	/*background:black;*/
	display:inline-block;
	float:left;
	margin:0 95px 0;
	opacity: 0.8;
	border:1px solid #333;

}


.blogs-wrap-font-adjust{
	font-size: 0;
}

.blog-wrap{
overflow:hidden;
width: 3969px;
margin-left:-1323px;
}

@keyframes blogmovefirst{
	from{margin-left:-760px;}
	to{margin-left: 1175px};
}
@-webkit-keyframes blogmovefirst{
	from{margin-left:-760px;}
	to{margin-left: 1175px};
}

.blogmovefirst{
	animation: blogmovefirst 30s linear infinite;
	-webkit-animation: blogmovefirst 30s linear infinite;
}
.animation-stop{
	animation-play-state:  paused;
	-webkit-animation-play-state:  paused;
}

footer{
	 background:rgb(142, 255, 221);
	 text-align:center;
	 padding:20px;
	 color:black;
	 font-weight: blod;
}

.skill:hover .skill-text{
	display:block;
	animation:skillmouseover 1s 1s linear;
	-webkit-animation:skillmouseover 1s 0.4s linear;
}
@-webkit-keyframes skillmouseover{
	from{display:none;opacity: 0}
	to{display: block;opacity:1;}
}

.skill:hover .skill-border{
	transition:1s height;
	height:350px;
}
.skill:hover .skill-icon{
	transform:scale(1.5);
	-webkit-transform:scale(1.5);
	transition:1s;
}


footer p{
	letter-spacing:5px;
	word-spacing: 14px;
	font-size: 20px;
}
p{
	text-align: center;
	font-size: 15px
}


