body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{
	/*position:absolute;*/
	

}
h2{
	display:block;
	text-align: center;
	left:50%;
	font-size:2rem !important;
	clear:both;

}