

<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/index.css">
<link href='http://fonts.googleapis.com/css?family=Playball&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Exo:400,800italic' rel='stylesheet' type='text/css'>
<div class="shade"></div>
  <h1 class="typing-origin">Welcome to PageYe's</h1>

<!-- preloader -->
<div id="preloader">
    <div id="load"></div>  
</div>
<!-- preloader -->


  <h2>{{title}}</h2>




<!-- nav -->
<div class="nav-wrap">
<nav class="navbar navbar-default">
	<a class="navbar-brand" href="#">
		<img class="head-img" src="./images/head-icon.jpg">
	</a>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li><a href="javascript:(0)">首页</a></li>
      	<li><a href="/undone" target="_blank" >博客</a></li>
        <li><a href="/undone" target="_blank" >留言板</a></li>
        <li><a href="/usertest" target="_blank" >用户数据库</a></li>
      	
        <li class="active login"><a href="javascript:void(0)">登录 <span class="sr-only">(current)</span></a></li>
        <li><a href="./register">注册</a></li>
        <!-- li class=""><a href="">你好<p id="user"></p></a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设置 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<!-- nav -->

<!-- login -->
<div class="login-position-fixed">
  <div class="login-position-relative">
    


    <form method="post" class="navbar-form  " role="search">
      <div class="form-group">
        <label for="username">用户名</label><input id="username" name="username" type="text" class="form-control" placeholder="请输入用户名">
        <div class="separator"></div>
        <label for="password">密码</label><input id="password" name="password" type="password" class="form-control" placeholder="请输入密码">
      </div>
      <button id="log_in" type="submit" class="btn btn-default">登录</button>
    </form>
  </div>
</div>
<!-- login -->
<!-- carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="./images/cute-cloud.jpg" alt="It is freedom.">
        <div class="carousel-caption">
          <p>It is freedom.</p>
        </div>
      </div>
      <div class="item">
        <img src="./images/horse-go.jpg" alt="go to further">
        <div class="carousel-caption">
          <p>Go to further.</p>
        </div>
      </div>
      
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!-- carousel -->

<!-- blogs-->


  <div id="blog-head" class="">
    <h3>my blogs</h3>
    <div class="down-icon"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
  </div>

<div class="blogs-container">
  <div class="blog-wrap">
    <div class="blog">
      <h5><b>jquery不熟悉的方法（持续更新）</b>
      <br></h5>
      <p>jquery有一个筛选api find。</p>
      <a href="http://www.cnblogs.com/pageye/p/4647059.html" target="_blank" title="阅读详情">阅读详情</a>
    </div>
    
    <div class="blog">
    <h5><b>【原创】解决鼠标经过子元素触发mouseout，mouseover事件的问题</b></h5>
    <p>我想实现的目标：当鼠标进入黑色框时，橙色框执行淡入动画；当黑色框范围移动的时候（即使经过粉色框，动画仍然不被触发）；当鼠标移出的时候，橙色方块消失。遇到的问题阐述：当鼠标移入黑色框的时候，橙色框执行淡入动画，但是当鼠标从黑色框经过粉色框的时候，橙色框就消失了，然后又执行一遍淡入动画。当鼠标从粉色框移出到黑色框的时候，橙色框的淡入动画又被执行。这不是我想要的。</p>
      <a href="http://www.cnblogs.com/pageye/p/4656810.html" target="_blank" title="阅读详情">阅读详情</a>
    </div>
  </div>
</div>

<div class="progress-gear">
  <div class="progress-wrap">
    <div class="progress active progress1">
      <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
    </div>
  </div>

  
  <div class="dualGear dualGear1">
          <div class="gearInner"></div>
          <div class="gearOuter"></div>
  </div>
  <div class="dualGear dualGear2">
          <div class="gearInner"></div>
          <div class="gearOuter"></div>
  </div>
  <div class="progress-wrap">
    <div class="progress active progress2">
      <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
    </div>
  </div>
</div>

<!-- blogs-->


<!-- my skills -->
<div class="skill-wrap"> 
  <div id="skill-head" class="">
    <h3>my skills</h3>
    <div class="down-icon"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
  </div>
  <div class="skill-container clearfix">
    <div class="skill skill1 skill_wrap-inactive">
      <div class="skill-border">
        <div class="skill-icon">
          <div class="skill_img "><div class="skill-design"></div></div>
          <h4>设计能力</h4>
        </div>
        
      </div>
      <div class="skill-text">
          <p>①熟练掌握ps基本操作</p>
          <p>②喜欢研究各种代码写成的小动画</p>
        </div>
    </div>
  
    <div class="skill skill2 skill_wrap-inactive skill_wrap-active">
      <div class="skill-border">
        <div class="skill-icon">
          <div class="skill_img "><div class="skill-code"></div></div>
          <h4>代码能力</h4>
        </div>
        
      </div>
      <div class="skill-text ">
          <p>html css html5 css3 </p>
          <p>javascript jquery ajax node.js git</p>
      </div>
    </div>
  
    <div class="skill skill3 skill_wrap-inactive">
      <div class="skill-border">
        <div class="skill-icon">
          <div class="skill_img "><div class="skill-theory"></div></div>
          <h4>理论知识</h4>
        </div>
        
      </div>
      <div class="skill-text">
          
          <p>组件化 面对对象编程 语义化与SEO</p>
          <p>浏览器渲染页面 http协议 性能优化</p>
      </div>
    </div> 
  </div>
</div>

<!-- my skills -->






<!-- project-expriences -->
<div class="project-expriences">
  

</div>

<footer>
  <p>中国传媒大学 | PageYe</p>
  <p>Powered By Node.js</p>
  <p>靡不有初，鲜克有终</p>
</footer>


<script src="./javascripts/jquery-1.11.2.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script src="./javascripts/index.js"></script>
<script>
  $('head').prepend('<meta name="viewport" content="width=device-width, initial-scale=1">');
  $('head').prepend('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">');
  $('head').append('<link href="./images/favicon.ico" type="image/x-icon" rel=icon>');
  $('head').append('<link href="./images/favicon.ico" type="image/x-icon" rel="shortcut icon">');
</script>
<script>
  $('#log_in').on('click',function(e){
    var username=$('#username').val();
    var password=$('#password').val();
    if(!username){
      alert('请输入用户名');
    }
    if(!password){
      alert('请输入密码');
    }
    $('#user').text(username);
  })

</script>