<style type="text/css" media="screen">
	h1,input{
		text-align: center;
	}
	input{
		margin:0 auto;
	}
	.gohome{
		margin-top:100px;
		display:inline-block;
		position:relative;
		left:50%;
		-webkit-transform:translateX(-50%);

	}
</style>
<h1 >成功登陆</h1>
<div class="gohome">
	<a href="/" title=""返回首页>
		<input type="button" name="goback" value="返回首页" >
	</a>
</div>
