<style type="text/css" media="screen">
	.bg{
		background:url(./images/sanli.png) center center no-repeat;
		width:707px;
		height:473px;
		margin:0 auto;
		padding:100px;
	}
	p{
		margin-top:473px;
		text-align: right;
		font-size: 30px;
		font-weight: 900;
	}
</style>
<div class="bg">
	<p>本页面尚未完成，敬请期待</p>
</div>
